p{
    /*margin-top: 1em;*/
    margin-bottom: 1em;
}

label{
    font-size: 16px;
}

.registerForm{
    display: flex;
    flex-direction: row;
    background-color: #007AFF;
}

.form{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1.5em;
    padding-left: 7em;
    margin-left: auto;
    width: 50%;
    min-height: 100vh;
    border: solid 1px #eeeeee;
    box-shadow: 0px 0px 30px rgba(9, 33, 60, 0.32);
    border-radius: 30px 0px 0px 30px;
    background-color: #FFFFFF;
    align-items: flex-start;
}

.form-title{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
}

.form-input{
    line-height: 1.5em;
    border-radius: 4px;
    border: solid 1px #eeeeee;
    padding: 0 6px;
    display: block;
    width: 30em;
    height: 2.5em;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 0.2em;
}

.form-error{
    color: red;
    font-weight: 700;
    font-size: 12px;
    margin-top: 1em;
}

.form-button{
    background: #007AFF;
    border-radius: 7px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2em;
}

.form-input-components{
    margin-top: 5em;
}